bin/
obj/
**/bin/
**/obj/
# Local artifacts
models/cpu/
models/openvino/
cache/
runs/
external/
TestResults/
# Bytecode
__pycache__/
# NuGet packages
nupkgs/
*.nupkg
EasyOcrNet.Nuget/contentFiles/
EasyOcrNet.Nuget/bin/
EasyOcrNet.Nuget/obj/
